*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif; 
}

h1, span{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-align: center; 
}

span{
	font-size: 40px;
	padding: 0 30px;
	color: #000;
}

footer{
	/*	margin-top: 20px;*/
	background-color: #282828;
	height: 30px;
	padding: 2px 0;
	color: #fff;
}

footer h3{
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 700;
}

/*---------------------------------------GENERAL-----------------------------------------*/

.titulo{
	width: 25%;
	margin: 0 auto;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

.titulo h1{
	color: #000;
	font-size: 25px;
	padding: 5px 0;
}

.titulo:link, .titulo:visited{
	text-decoration: none;
	color:#000; 
}

.descripcion{
	width: 75%;
	height: 20%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px; 
}

/*---------------------------------------IR ARRIBA-----------------------------------------*/

#topBtn{
	position: fixed;
	bottom: 40px;
	right: 20px;
	font-size: 22px;
	width: 50px;
	height: 50px;
	background-color: #0A3B5C;
	color: #fff;
	border:none;
	cursor: pointer;
	display: none;
}

#topBtn:hover{
	color: #0A3B5C;
	background-color: #fff;
	border: 2px solid #0A3B5C;
}

/*---------------------------------------COLORES-----------------------------------------*/

.bgc-green{
	background-color: #00ADB5;
}

.c-green{
	color: #00ADB5;
}

.bgc-gray{
	background-color: #393E46;
}

.bgc-red{
	background-color: #FC3C3C;
}

.c-red{
	color: #FC3C3C;
}

.bgc-yellow{
	background-color: #F8B500;
}

/*---------------------------------DIVS DE ESPACIOS----------------------------------------*/
.space40{
	height: 40px;
}

.space15{
	height: 15px;
}

/*----------------------------MENU---------------------------*/

.header{
	height: 100px;
	background: #328BC3;
	padding: 0 20px;
	color: #000;
}

.logoimg{
	float: left;
	width: 200px;
	height: 100px;
	background-image: url("../img/background-img/logo.png");
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
}

.menu{
	float: right;
	line-height: 100px;
}

.menu a{
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
	font-size: 18px;
}

.show-menu-btn,.hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn{
	float: right;
}

.show-menu-btn i{
	line-height: 100px;
}

.menu a:hover{
	color: #000;
	padding-bottom: 5px;
	border-bottom: 5px solid #134262;
	font-weight: bold;
}

.show-menu-btn:hover, .hide-menu-btn:hover{
	color: #fff;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

@media screen and (max-width: 950px){
	.show-menu-btn,.hide-menu-btn{
		display: block;
	}

	.menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #333;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
	}

	.menu a{
		display: block;
		padding: 20px;
		color: #fff;
	}

	.menu a:hover{
		border-bottom: 0px;
		padding-bottom: 0px;
		font-weight: normal;
		color: #fff;
	}

	.show-menu-btn, .hide-menu-btn{
		color: #fff;
	}

	.show-menu-btn:hover, .hide-menu-btn:hover{
		color: #1A4561;
	}

	.hide-menu-btn{
		position: absolute;
		top: 40px;
		right: 40px;
	}

	#chk:checked ~ .menu{
		right: 0;
	}
}


/*----------------------------SLIDER---------------------------*/


.slider{
	width: 100%;
	height: 500px;
	background-image: url("../img/background-img/bchess.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	animation: slide 20s infinite;
}

@keyframes slide{
	25%{
		background: url("../img/background-img/blackjack.jpg");
		background-repeat: no-repeat; 
		background-position: center;
		background-size: cover;
	}
	50%{
		background: url("../img/background-img/puzzle.jpg");
		background-repeat: no-repeat; 
		background-position: center;
		background-size: cover;
	}
	75%{
		background: url("../img/background-img/jenga2.jpg");
		background-repeat: no-repeat; 
		background-position: center;
		background-size: cover;
	}
	100%{
		background: url("../img/background-img/bchess.jpg");
		background-repeat: no-repeat; 
		background-position: center;
		background-size: cover;
	}
}


/*------------------------------------OBJETIVOS--------------------------------------------*/

.topobjetivos{
	width: 100%;
	height: 500px;
	background-image: url("../img/background-img/blackjack.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
}

.fondotopobjetivos{
	background-color: rgba(50,139,195,0.90);
	margin: 0 auto;
	margin-top: 150px;
	width: 50%;
	height: 20%;
	text-align: center;
	color: #282828;
}

.fondotopobjetivos h2{
	font-weight: 700;
	padding-top: 25px; 
}

@media screen and (max-width: 600px){
	.fondotopobjetivos{
		height: 22%;
		width: 80%;
	}

	.fondotopobjetivos h2{
		padding-top: 0px;
		font-size: 30px;
	}
}

.contenedor-obj{
	width: 100%;
	background-color: #F0F4F3;
	padding-bottom: 2%;
}

.obj-general{
	margin: 25px auto;
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #fff;
}

.columna-obj{
	width: 50%;
}

.obj-text{
	text-align: center;
	padding-top: 100px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 50px;
}

.img-obj1, .img-obj2, .img-obj3, .img-obj4{
	width: 50%;
	height: 500px;
	background-repeat: no-repeat; 
	background-position: center;
	border-radius: 50%;
}

.img-obj1{
	background-image:url("../img/background-img/family1.jpg");
	padding-top: 150px; 
}

.img-obj2{
	background-image:url("../img/background-img/dados.jpg");
}

.img-obj3{
	background-image:url("../img/background-img/family2.jpg");
} 

.img-obj4{
	background-image:url("../img/background-img/family3.jpg");
}

@media screen and (max-width: 1150px){
	.obj-text,.img-obj1, .img-obj3{
		width: 100%;
		padding-top: 10px;
	}

	.img-obj2, .img-obj4{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.img-obj3{
		background-position: right;
	}
	.obj-text{
		font-size: 16px;
		line-height: 35px;
	}
}

.flextab{
	width: 70%;
	display: flex;
	flex-wrap: row;
	flex-direction: row;
	margin: 10px auto;
}

.tablink {
	background-color: #1A4561;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	margin: 0 auto;
	width: 25%;
}

.tablink:hover {
	background-color: #166A8F;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent{
	color: white;
	display: none;
	padding: 100px 20px;
	height: 20%;
	margin: 2% 2% 0% 2%; 
	text-align: center;
	line-height: 30px;
}

@media screen and (max-width: 600px){
	.tablink{
		font-size: 10px;
		width: 100%
	}
}

#Home{
	background-color: #328BC3;
}

#News {
	/*	background-color: #16B292;*/
	background-color: #328BC3;
}

#Contact{
	/*	background-color: #2C8F5D;*/
	background-color: #328BC3;
}

/*------------------------------------PASOS--------------------------------------------*/

.contenedor-pasos{
	width: 100%;
	background-image:url("../img/background-img/chesscolorbig.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 20px; 
}

.contenedor-pasos i{
	font-size: 40px;
	margin-top: 40px;
	background-color: rgba(0,173,181,0.70);
}

.pasos-general{
	margin: 25px auto;
	width: 95%;
	height:70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.columna-pasos{
	width: 360px;
	height: 420px;
	margin: 0px auto;
	border-radius: 10px;
}

.columna-pasos h2{
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
}

.columna-pasos h3{
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	font-weight: 700;
	padding: 0 10px;
}

.img-pasos{
	margin: 20px auto;
	width:128px;
	height: 128px;
}

.img-juega{
	background-image: url("../img/pasos/board-game.png")
}

.img-regala{
	background-image: url("../img/pasos/giving-present.png")
}

.img-busca{
	background-image: url("../img/pasos/find.png")
}

@media screen and (max-width: 1150px){
	.columna-pasos{
		margin-top: 20px;
	}
}

@media screen and (max-width: 960px){
	.columna-pasos{

	}
}

/*------------------------------------JUEGOS--------------------------------------------*/

.contenedor-juegos{
	width: 100%;
	background-color: #fff;
}

.contenedor-juegos i{
	font-size: 40px;
	margin-top: 40px;
}

.juegos-general{
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.columna-juegos{
	/*width: 20%;
	height: 100%;
	margin: 0px auto;*/
	margin: 0 10px;
	border-radius: 10px;
	flex: 25%;
	padding: 10px;
	max-width: 320px;
	box-sizing: border-box;
	border: 2px solid #0A3B5C;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.border-juegos{
	width: 100px;
	height: 10px;
	background: #FC3C3C;
	margin: 10px auto;
}

.img-juego-des{
	margin: 0 auto;
	width: 300px;
	height: 250px;
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
}

.row-masjuegos{
	margin: 0 auto;
	width: 90%;
	height: 23%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.table-juegos a{
	text-decoration: none;
	color: #2c3e50;
	border: 2px solid #2c3e50;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 40px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.5s linear;
	font-weight: bold;
}

.table-juegos a:hover{
	background: #166A8F;
	color: #fff;
}

@media screen and (max-width: 980px){
	.columna-juegos{
		flex: 50%;
		margin-top: 20px;
	}
}

@media screen and (max-width: 700px){
	.columna-juegos{
		flex: 100%;
		margin-top: 20px;
	}
}

@media screen and (max-width: 1400px){
	.columna-juegos{
		margin-top: 20px;
	}
}

.masjuegos{
	margin: 0 auto;
	width: 30%;
	height: 100%;
	border: 1px solid black;
	text-align: center;
}

.masjuegos h3{
	text-transform: uppercase;
}

.masjuegos a span{
	background-color: #232323;
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	text-decoration: none;
	cursor: pointer;
	line-height: 2;
	text-align: center;
	text-transform: uppercase;
	border-radius: 6px;
	transition: .3s;
}

.masjuegos a span, .masjuegos a{
	background-color: #232323;
	color: #fff;
	font-size: 25px;
	font-weight: bolder;
	text-decoration: none;
	cursor: pointer;
	line-height: 2;
	text-align: center;
	text-transform: uppercase;
	border-radius: 6px;
	transition: .3s;
}

.masjuegos a span:hover{
	background-color: #fff; 
	color: #000;
	border: 2px solid #232323;
}

@media screen and (max-width: 980px){
	.masjuegos{
		width: 100%;
	}
}


/*------------------------------------CONTACTENOS--------------------------------------------*/

.contenedor-contacto{
	background-image: url("../img/background-img/fondonegro.jpg");
	background-repeat: no-repeat; 
	background-position: right;
	background-attachment: fixed;
	padding: 40px 0;
	margin-top: 35px;
}

.contenedor-contacto span{
	color: #fff;
	background-color: rgba(57,62,70,0.70);
}	

.border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background-color: #393E46;
	padding: 20px 40px;
	outline: none;
	transition: 0.5s;
	color: #fff;
}

.contact-form-text:focus{
	box-shadow: 0 0 10px 4px #34495e;
}

.contact-form-text::placeholder{
	color: #fff;
}

textarea .contact-form-text{
	resize: none;
	height: 120px;
	color: #fff;
}

.contact-form-btn{
	float: right;
	border: 0;
	background: #166A8F;
	padding: 12px 0px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-weight: 800;
}

.contact-form-btn:hover{
	background: #0A3B5C; 
}

/*------------------------------------ACERCA DE--------------------------------------------*/

.contenedor-nosotros{
	padding : 50px 0; 
}

.nosotros-general{
	margin: 0 auto;
	width: 95%;
	height:70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.columna-nosotros{
	width: 360px;
	height: 200px;
	margin: 0px auto;
	border-radius: 10px;
	background-color: #166A8F;
	padding: 20px 20px;
	text-align: center;
	font-size: 25px;
}

.columna-nosotros p{
	font-size: 17px;
	margin-top: 10px;
	color: #fff;
}

.columna-nosotros h2{
	margin-top: 30px;
}

.columna-nosotros i{
	font-size: 35px;
	color: #ddd;
}

.columna-nosotros .rs{
	margin-top: 20px;
	font-size: 40px;
	padding: 0 10px;
	color: #ddd;
	transition: 0.5s;
}

.columna-nosotros .rs:hover{
	color: #fff;
}

@media screen and (max-width: 1300px){
	.columna-nosotros{
		margin-top: 20px;
	}
}

/*------------------------------------JUEGOS--------------------------------------------*/

.topjuegos{
	width: 100%;
	height: 500px;
	background-image: url("../img/background-img/playtop.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
}

.fondotopjuegos{
	background-color: rgba(50,139,195,0.90);
	margin: 0 auto;
	margin-top: 150px;
	width: 50%;
	height: 20%;
	text-align: center;
	color: #282828;
	font-size: 20px;
}

@media screen and (max-width: 600px){
	.fondotopjuegos{
		height: 30%;
	}
}

.txtfiltro{
	font-size: 18px;
	border: 1px solid #2c3e50;
	padding: 5px 10px
}

.txtfiltro:focus{
	box-shadow: 0 0 10px 4px #34495e;
	transition: 0.6s;
}

.txtfiltro::placeholder{
	color: #282828;
}

.fondotopjuegos h2{
	padding-top: 15px;
}

.contenedor-allgames{
	padding-top: 20px;
	height: auto;
}

.juegosall-general{
	width: 90%;
	margin: 0 auto;
}

.juegosall-general .txtfiltro{
	margin-top: 30px;
}

.columnas-juegos{
	/*width: 20%;
	height: 100%;
	margin: 0px auto;*/
	margin: 0 10px;
	border-radius: 10px;
	flex: 25%;
	padding: 10px;
	max-width: 320px;
	box-sizing: border-box;
}

.img-mini-juego{
	margin: 0 auto;
	width: 50%;
	height: 45%;
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	margin-bottom: 25px;
}

.imgcolones{
	background-image:url("../img/juegos/colones.jpg");	
}

.imgajedrez{
	background-image:url("../img/juegos/ajedrez.jpg");
}

.imgdomino{
	background-image:url("../img/juegos/domino.jpeg");
}

.imgdamas{
	background-image:url("../img/juegos/damas.jpg");
}

.imgmonopoly{
	background-image:url("../img/juegos/monopoly.jpg");
}

.imgjenga{
	background-image:url("../img/juegos/jenga.jpg");
}

.imgclue{
	background-image:url("../img/juegos/clue.jpg");
}

.imgnaipes{
	background-image:url("../img/juegos/naipes.png");
}

.imgrisk{
	background-image:url("../img/juegos/risk.jpg");
}

.imgscrabble{
	background-image:url("../img/juegos/scrabble.jpg");
}

.imges{
	background-image:url("../img/juegos/escalerasserpientes.jpg");
}

.imgbn{
	background-image:url("../img/juegos/bn.jpg");
}

.columnas-juegos button{
	text-decoration: none;
	color: #2c3e50;
	border: 2px solid #2c3e50;
	background-color: #fff;
	width: 50%;
	padding: 7px 0px;
	margin: 5px auto;
	border-radius: 20px;
	transition: 0.5s linear;
	font-weight: bold;
}

.columnas-juegos button:hover{
	background: #166A8F;
	color: #fff;
}


.border-alljuegos{
	width: 100px;
	height: 10px;
	background: #00D9B5;
	margin: 10px auto;
}

.filterDiv {
	background-color: #fff;
	color: #000;
	width: 350px;
	height: 350px;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	border: 2px solid #212121;
	display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

.botonesfiltro{
	margin: 30px 0px;
}

/* Style the buttons */
.btn {
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 12px 20px;
	margin-right: 10px;
	background-color: #328BC3;
	color: #fff;
	cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
	background-color: #166A8F;
}


/* Add a dark background to the active button */
.btn.active {
	background-color: #0A3B5C;
	color: #fff;
}

@media screen and (max-width: 900px){
	.btn{
		margin: 5px auto;
	}
}

#myUL li{
	text-decoration: none;
	opacity: none;
	list-style: none;
}

/*------------------------------------MODALS--------------------------------------------*/

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: #fff;
	margin: 20% auto;
	/*padding: 20px;*/
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); 
	animation-name: modalopen;
	animation-duration: 1s;  
}

.modal-header{
	background-color: #0A3B5C;
	padding: 15px;
	font-size: 30px;
	color: #fff;
}

.modal-header h2, .modal-footer h3{
	margin: 0;
}

.modal-body{
	padding: 10px 40px;
	text-align: justify;
}

.modal-footer{
	background-color: coral;
	padding: 10px;
	color: #fff;
	text-align: center;
}

.closeBtn{
	color: #fff;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.closeBtn:hover, .closeBtn:focus{
	color: #282828;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

